* {
  box-sizing: border-box;
}

body {
  margin: 20px;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.container {
  /*width: 1170px;*/
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  display: grid;
  /*grid-template-columns: 200px 400px 400px;*/
  grid-gap: 10px;
  grid-template-areas: ". header  header"
                             "sidebar content content"
                             "footer footer footer";
  background-color: #ffffff;
  color: #444444;
  width: 100%;
}

.box {
  /*background-color: #444;*/
  /*color: #fff;*/
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  border: 1px solid #444;
}

.header,.footer {
  /*background-color: #999;*/
  border: 1px solid #444;
}
