* {
  box-sizing: border-box;
}

body {
  margin: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #ffffff;
  color: #444444;
  width: 100%;
}

.box {
  background-color: #444444;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.a {
  grid-column: 1 / span 2;
}
.b {
  grid-column: 3;
  grid-row: 1 / span 2;
}
.c {
  grid-column: 1;
  grid-row: 2;
}
.d {
  grid-column: 2;
  grid-row: 2;
}
.e {
  /*grid-column: 2;*/
}
.f {
  /*grid-column: 2 / 4;*/
}
