* {
  box-sizing: border-box;
}

body {
  margin: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #ffffff;
  color: #444444;
}

.box {
  background-color: #444444;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.a {
  grid-area: 1 / 2 / 2 / 3;
}
.b {
  grid-area: 2 / 2 / 3 / 3;
}
.c {
  grid-area: 2 / 3 / 3 / 4;
}
.d {
  grid-area: 1 / 1 / 2 / 2;
  /*grid-column: 1 / 2;
  grid-row: 1 / 2;*/
}
.e {
  grid-area: 2 / 1 / 3 / 2;
  /*grid-column: 1 / 2;
  grid-row: 2 / 3;*/
}
.f {
  grid-area: 1 / 3 / 2 / 4;
  /*grid-column: 3 / 4;
  grid-row: 1 / 2;*/
}
