.container {
  max-width: 1170px;
  margin: 0 auto;
  /*display: grid;*/
  /*grid-template-columns:1fr 1fr 1fr 1fr
                        1fr 1fr 1fr 1fr
                        1fr 1fr 1fr 1fr;
  grid-gap: 15px;*/
}

.row {
  display: grid;
  grid-gap: 15px;
}

.row-01 {
  grid-template-columns:1fr 1fr 1fr 1fr
                        1fr 1fr 1fr 1fr
                        1fr 1fr 1fr 1fr;
}

.row-02 {
  margin: 40px 0;
  grid-template-columns:4fr 4fr 4fr;
}

.row-03 {
  margin: 40px 0;
  grid-template-columns:6fr 6fr;
}

.col-01,
.col-04,
.col-06 {
  background-color: #eeeeee;
  text-align: center;
  padding: 0 10px;
}

@media only screen and (max-width: 600px) {
  .row-01 {
    grid-template-columns:3fr 3fr 3fr 3fr;
  }
  .row-02 {
    grid-template-columns:12fr;
  }
}
